
<title>My application deployed auto</title>
  <h1>Hello, World!</h1>
    Result is {{result}}

  <p>Enter an array of integers. Put an element and press enter.</p>
  <p>Enter your integers in second and third boxes.</p>
  <p>The program multiplies the integers and searches the result</p>
  <p>in the array. If it founds returns true.</p>


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	<textarea name="input3" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>

